

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.main-container {
    display: flex;
}

.left {
    flex: 1 1 0;
}

.right {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
}

.right > *{
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}

.logo {
    max-height: 50%;
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1)
}

.form-area {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.input-area, .input-area-left, .input-area-right {
    display: flex;
}

.input-area-left, .input-area-right {
    flex-direction: column;
    padding: 10px;
}
